*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*.hero{
    width: 100%;
    height: 100vh;
}*/
/*position - fixed,absolute,relative,sticky,static*/
/* display - block,inline,inline-block,flex,grid,inline-grid,flexbox*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}
body{
    z-index: 0;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    display: inline;
}
ul {
    height: 100%;
    overflow: hidden;
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}
/*home section styling*/
.Home{
    display: flex;
    background-color: #FEECFC;
    width: 100%;
    height: 100vh;
}
.container{
    margin-left: 8%;
    margin-top: 13%;
}
.container h3{
    font-size: 25px;
    font-family: IBM Plex Serif;
    margin-bottom: 20px;
}
.container h5{
    font-size: 15px;
    font-family: Gideon Roman;
}
.container h1{
    font-size: 45px;
    font-family: Kaisei Opti;
    margin-bottom: 20px;
    padding: 20px;
}
.container p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.profile{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 45px;
    right: 50px;
}
.frame{
    height: 10.5cm;
    width: 9cm;
    position: absolute;
    left: 52%;
    bottom: 90px;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.girl{
    height: 75%;
    position: absolute;
    left: 64%;
    bottom: 15px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
}
.girl:hover {
    left: 62%;
}
.scroll-down{
    height: 40px;
    width: 20px;
    border: 2px solid black;
    position: absolute;
    left: 43%;
    bottom: 30px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mouse span{
    width: 5px;
    height: 5px;
    background-color: black;
    display: block;
    border-radius: 50%;
    margin: 5px;
    animation: move-wheel .7s linear infinite;
}
.arrow span{
    display: block;
    width: 5px;
    height: 5px;
    margin: 10px;
    border: 2px solid transparent;
    border-right: 2px solid black;
    border-bottom-color: black;
    transform: rotate(45deg);
}
@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

/*2nd section*/
.About{
    background-color: #A4A4A4;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(gray,#e3e3e3,white,white);
}
/*.description{
    top: 40px;
    right: 20px;
    position: absolute;
}*/
.description>h1{
    font-family: IM FELL French Canon;
    font-size: 25px;
    right: 32%;
    top: 55px;
    position: absolute;
}
.description > p{
    font-family: JejuMyeongjo;
    font-size: 17px;
    left: 48%;
    position: absolute;
    top: 15%;
}
.description > h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 22%;
}
.my{
    height: 60%;
    width: 30%;
    position: absolute;
    left: 40px;
    bottom: 25px;
    border-radius: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 150px 20px 350px;
    grid-template-rows: 25px 25px 25px 25px;
    position: absolute;
    left: 48%;
    top: 26%;
}
.grid_a > h3{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
.grid_b > h3{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
.grid_c > h3{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
.education > h3{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 41%;
}
.education > ul{
    left: 48%;
    position: absolute;
    top: 45%;
}
ul > h1{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
.education > ul > h1:before{
    content: "🎓";
    color: black;
    font-size: 21px;
}
.carrier > h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 57%;
}
.carrier > ol{
    left: 48%;
    position: absolute;
    top: 61%;
}
.carrier ol h1{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
.carrier ol h1:before{
    content: "💻";
    color: black;
    font-size: 16px;
}
.cus h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 69%;
}
ol{
    left: 48%;
    position: absolute;
    top: 73%;
}
ol h1{
    font-family: JejuMyeongjo;
    font-size: 17px;
}
ol h1:before{
    content: "👩‍💼";
    color: black;
    font-size: 16px;
}
.qualification{

    width: 100%;
    height: 100vh;
    position: relative;
}