@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*.hero{
    width: 100%;
    height: 100vh;
}*/
/*position - fixed,absolute,relative,sticky,static*/
/* display - block,inline,inline-block,flex,grid,inline-grid,flexbox*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
}

body{
    z-index: 0;
}
.logo{
    width: 125px;
    cursor: pointer;
    left: 15%;
}
nav{
    display: inline;
}
ul {
    height: 100%;
    overflow: hidden;
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}

/*home section styling*/
.Home{
    display: flex;
    background-color: #FEECFC;
    width: 100%;
    height: 100vh;
}
.container{
    margin-left: 8%;
    margin-top: 13%;
}
.container h3{
    font-size: 25px;
    font-family: IBM Plex Serif;
    margin-bottom: 20px;
}
.container h5{
    font-size: 15px;
    font-family: Gideon Roman;
}
.container h1{
    font-size: 45px;
    font-family: Kaisei Opti;
    margin-bottom: 20px;
    padding: 20px;
}
.container p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.profile{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 45px;
    right: 50px;
}
.frame{
    height: 10.5cm;
    width: 9cm;
    position: absolute;
    left: 52%;
    bottom: 90px;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.girl{
    height: 75%;
    position: absolute;
    left: 64%;
    bottom: 15px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
}
.girl:hover {
    left: 62%;
}
.scroll-down{
    height: 40px;
    width: 20px;
    border: 2px solid black;
    position: absolute;
    left: 43%;
    bottom: 30px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mouse span{
    width: 5px;
    height: 5px;
    background-color: black;
    display: block;
    border-radius: 50%;
    margin: 5px;
    animation: move-wheel .7s linear infinite;
}
.arrow span{
    display: block;
    width: 5px;
    height: 5px;
    margin-left: 1.5px;
    margin-top: 12px;
    border: 2px solid transparent;
    border-right: 2px solid black;
    border-bottom-color: black;
    transform: rotate(45deg);
}
@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(0rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

/*2nd section*/
.About{
    background-color: #A4A4A4;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(gray,#e3e3e3,white,white,white,white,white);
}
/*.description{
    top: 40px;
    right: 20px;
    position: absolute;
}*/
.description>h1{
    font-family: IM FELL French Canon;
    font-size: 25px;
    right: 32%;
    top: 55px;
    position: absolute;
}
.description > p{
    font-family: JejuMyeongjo;
    font-size: 17px;
    left: 48%;
    position: absolute;
    top: 15%;
}
.description > h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 22%;
}
.my{
    height: 60%;
    width: 30%;
    position: absolute;
    left: 40px;
    bottom: 25px;
    border-radius: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 150px 20px 350px;
    grid-template-rows: 25px 25px 25px 25px;
    position: absolute;
    left: 48%;
    top: 26%;
}
.grid_a > h3{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
.grid_b > h3{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
.grid_c > h3{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
.education > h3{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 41%;
}
.education > ul{
    left: 48%;
    position: absolute;
    top: 45%;
}
ul > h1{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
.education > ul > h1:before{
    content: "🎓";
    color: black;
    font-size: 21px;
}
.carrier > h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 57%;
}
.carrier > ol{
    left: 48%;
    position: absolute;
    top: 61%;
}
.carrier ol h1{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
.carrier ol h1:before{
    content: "💻";
    color: black;
    font-size: 16px;
}
.cus h2{
    font-family: Inter;
    font-size: 19px;
    left: 48%;
    position: absolute;
    top: 69%;
}
ol{
    left: 48%;
    position: absolute;
    top: 73%;
}
ol h1{
    font-family: Microsoft Yi Baiti;
    font-size: 20px;
}
ol h1:before{
    content: "👩‍💼";
    color: black;
    font-size: 16px;
}
.qualification{
    width: 100%;
    height: 100vh;
    position: relative;

}
.topic > h1{
    position: absolute;
    top: 18px;
    left: 45%;
    font-family: IM FELL French Canon;
    font-size: 25px;
}
.line{
    border-left: 2px solid black;
    height: 430px;
    top: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}
.square_1 img{
    filter: drop-shadow(8px 8px 10px gray);
    left: 28%;
    position: absolute;
    width: 290px;
    height: 120px;
    top: 90px;
}
.square_2 img{
    filter: drop-shadow(8px 8px 10px gray);
    right: 28%;
    position: absolute;
    width: 290px;
    height: 120px;
    top: 31%;
}
.square_3 img{
    filter: drop-shadow(8px 8px 10px gray);
    left: 28%;
    position: absolute;
    width: 290px;
    height: 120px;
    top: 50%;
}
.skills{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 17%;
    background-color: #bcc1d4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 14%;
    justify-content: center;
}
.square_1 h1{
    position: absolute;
    left: 33%;
    top: 15%;
    font-size: 17px;
    font-family: Zapf Chancery;
}
.square_1 h2 {
    position: absolute;
    left: 30%;
    top: 21%;
    font-size: 15px;
    font-family: DengXian;
}
.square_2 h1{
    position: absolute;
    right: 29%;
    top: 35%;
    font-size: 17px;
    font-family: Zapf Chancery;
}
.square_2 h2 {
    position: absolute;
    right: 30%;
    top: 40%;
    font-size: 15px;
    font-family: DengXian;
}
.square_3 h1{
    position: absolute;
    left: 30%;
    top: 53%;
    font-size: 17px;
    font-family: Zapf Chancery;
}
.square_3 h2 {
    position: absolute;
    left: 30%;
    top: 60%;
    font-size: 15px;
    font-family: DengXian;
}
.skill{
    position: absolute;
    width: 15%;
    height: 6%;
    background-image: linear-gradient(#c3cdd9,white,white,white);
    bottom: 17%;
    left: 0;
    filter: drop-shadow(3px 3px 3px #8391a3);
}
.skills img{
    position: absolute;
    width: 50px;
    height: auto;
    bottom: 45px;
}
.skills h1{
    font-size: 15px;
    position: absolute;
    bottom: 25px;
}
.skill h2{
    position: absolute;
    font-size: 18px;
    left: 50px;
    bottom: 22%;
    font-family: Zapf Chancery;
}
.services{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topic-2 h1{
    position: absolute;
    top: 8%;
    left: 10%;
    font-family: IM FELL French Canon;
    font-size: 25px;
}
.topic-2 h2{
    font-family: JejuMyeongjo;
    font-size: 17px;
    left: 14%;
    position: absolute;
    top: 15%;
}
.box_1{
    background:#e4e6ed;
    border-radius: 10px;
    width:500px;
    height:140px;
    position: relative;
    display: inline-block;
    top: 27%;
}
.box_1:before{
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 60px;
    left: -29px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: transparent #e4e6ed transparent transparent;
    border-style: solid;
}
.box_2{
    background:#e4e6ed;
    border-radius: 10px;
    width:500px;
    height:140px;
    position: relative;
    display: inline-block;
    top: 30%;
}
.box_2:before{
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 60px;
    left: -29px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: transparent #e4e6ed transparent transparent;
    border-style: solid;
}
.box_3{
    background:#e4e6ed;
    border-radius: 10px;
    width:500px;
    height:140px;
    position: relative;
    display: inline-block;
    top: 33%;
}
.box_3:before{
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 60px;
    left: -29px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: transparent #e4e6ed transparent transparent;
    border-style: solid;
}
.line_2{
    border-left: 3px solid #555a6b;
    height: 495px;
    top: 24%;
    position: absolute;
    left: 29%;
    margin-left: -3px;
}
.logo_1 {
    position: absolute;
    top: 34%;
    left: 27%;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 110px;
}
.box_1 h1{
    position: absolute;
    left: 8%;
    top: 16%;
    font-size: 15px;
}
.box_1 h2{
    position: absolute;
    left: 8%;
    top: 36%;
    font-family: "Bell MT";
    font-size: 15px;
}
.box_2 h1{
    position: absolute;
    left: 8%;
    top: 16%;
    font-size: 15px;
}
.box_2 h2{
    position: absolute;
    left: 8%;
    top: 36%;
    font-family: "Bell MT";
    font-size: 15px;
}
.box_3 h1{
    position: absolute;
    left: 8%;
    top: 16%;
    font-size: 15px;
}
.box_3 h2{
    position: absolute;
    left: 8%;
    top: 36%;
    font-family: "Bell MT";
    font-size: 15px;
}

/*project section*/
.projects{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#76878a, #ccd7d9, white, white);
}
.projects h1{
    position: absolute;
    font-family: IM FELL French Canon;
    font-size: 25px;
    right: 22%;
    top: 6%;
}
.box_a{
    width: 13%;
    height: 38%;
    filter: drop-shadow(8px 8px 10px gray);
    position: absolute;
    background-image: linear-gradient(black,#545353,#827f7f,#c2bebe,white,white);
    top: 13%;
    left: 5%;
}
.box_b{
    width: 13%;
    height: 38%;
    filter: drop-shadow(8px 8px 10px gray);
    position: absolute;
    background-image: linear-gradient(black,#545353,#827f7f,#c2bebe,white,white);
    top: 25%;
    left: 20%;
}
.box_c{
    width: 13%;
    height: 38%;
    filter: drop-shadow(8px 8px 10px gray);
    position: absolute;
    background-image: linear-gradient(black,#545353,#827f7f,#c2bebe,white,white);
    top: 37%;
    left: 35%;
}
.box_d{
    width: 13%;
    height: 38%;
    filter: drop-shadow(8px 8px 10px gray);
    position: absolute;
    background-image: linear-gradient(black,#545353,#827f7f,#c2bebe,white,white);
    top: 49%;
    left: 50%;
}
.box_e{
    width: 30%;
    height: 50%;
    filter: drop-shadow(5px 8px 10px gray);
    position: absolute;
    background-image: linear-gradient(#b6d9a7,#e6f7bc, #f0f2b8,white,white);
    top: 25%;
    left: 66%;
}

.box_e h4{
    position: absolute;
    font-size: 16px;
    top: 8%;
    align-self: center;
    left: 10%;
    color: saddlebrown;
}
.CSS{
    width: 85%;
    height: 8%;
    top: 19%;
    left: 5%;
    position: absolute;
    background-color: mediumseagreen;
}
.CSS h1{
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    font-size: medium;
    color: black;
    left: 5%;
}
/*add sub menu*/
.mytabs {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 16%;
    margin: 30px auto;
    padding: 3px;
    top: 15%;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding : 2px 13px 3px 13px;
    background: #e2e2e2;
    font-weight: bold;
    font-size: 14px;
}

.mytabs .tab {
    width: 99%;
    padding: 2px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.book{
    position: absolute;
    left: 28%;
    top: 6%;
    width: 35%;
    height: auto;
}
.box_a h2{
    position: absolute;
    font-size: 16px;
    top: 40%;
    align-self: center;
    left: 10%;
}
.box_a h1{
    position: absolute;
    font-size: 15px;
    top: 52%;
    left: 10%;
}
.shopping{
    position: absolute;
    left: 28%;
    top: 6%;
    width: 35%;
    height: auto;
}
.box_b h2{
    position: absolute;
    font-size: 15px;
    top: 38%;
    align-self: center;
    left:20%;
}
.box_b h1{
    position: absolute;
    font-size: 15px;
    top: 49%;
    left: 8%;
}
.hostel{
    position: absolute;
    left: 28%;
    top: 6%;
    width: 35%;
    height: auto;
}
.box_c h2{
    position: absolute;
    font-size: 15px;
    top: 36%;
    align-self: center;
    left: 10%;
}
.box_c h1{
    position: absolute;
    font-size: 15px;
    top: 52%;
    left: 10%;
}
.chat{
    position: absolute;
    left: 28%;
    top: 6%;
    width: 35%;
    height: auto;
}
.box_d h2{
    position: absolute;
    font-size: 15px;
    top: 40%;
    align-self: center;
    left: 10%;
}
.box_d h1{
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 15%;
}

.click{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.click::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
    border-top: 5px solid crimson;
}

.click:hover::before{
    transform: rotate(360deg);
    transition: all 2s;
}
.arrow{
    position: absolute;
    width: 32px;
    height: auto;
    top: 24%;
    left: 24%;
}
.click_a{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 64%;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.click_a::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
    border-top: 5px solid crimson;
}

.click_a:hover::before{
    transform: rotate(360deg);
    transition: all 2s;
}
.click_b{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 64%;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.click_b::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
    border-top: 5px solid crimson;
}

.click_b:hover::before{
    transform: rotate(360deg);
    transition: all 2s;
}
.click_c{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top: 64%;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.click_c::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
    border-top: 5px solid crimson;
}

.click_c:hover::before{
    transform: rotate(360deg);
    transition: all 2s;
}
.down{
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 10%;
    height: 20px;
    color: black;
}
.add h3{
    position: absolute;
    left: 44%;
    bottom: 40px;
    font-size: 18px;
}

/*gallery section*/
.gallery {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #9fa2ab, #c3d9d7, white,white);
    position: relative;
}
.gallery h1{
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 40px;
}
.main_div{
    width: 30%;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://i.ibb.co/9hrtxT0/1656062536687.jpg");
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px black;
    animation: slider 10s infinite linear;
}
@keyframes slider {
    0%{background-image: url("https://i.ibb.co/PNF5pcq/1663356337955.jpg")}
    40%{background-image: url("https://i.ibb.co/Jm83vjD/1663356337990.jpg")}
    80%{background-image: url("https://i.ibb.co/GdXh0cj/1663356337972.jpg")}
}

/*contact section*/
.contact{
    width: 100%;
    height: 100vh;
    position: relative;
}
.topic_a{
    position: absolute;
    left: 45%;
    top: 10px;
    font-size: 20px;
    font-family: IM FELL French Canon;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    height: 30%;
}
.contact_box{
    width: 400px;
    height: 410px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 68%;
    left: 30%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
}
form{
    margin: 40px;
}
.input_field{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea_field{
    height: 120px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.info h1{
    font-size: 20px;
    font-family: Serif;
    top: 40%;
    right: 28%;
    position: absolute;
}
.contact_col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact_col div{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    right: 15%;
}
.address{
    left: 55%;
    top: 48%;
    position: absolute;
}
.phone{
    left: 55%;
    top: 58%;
    position: absolute;
}
.mail{
    left: 55%;
    top: 68%;
    position: absolute;
}
.contact_col div .fa{
    font-size: 30px;
    color: black;
    margin-right: 35px;
}
.contact_col div p{
    padding: 0;
}
.contact_col div h5{
    font-size: 17px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.footer{
    width: 100%;
    height: 20vh;
    background: #5d6075;
    position: relative;
}
.head h1{
    color: black;
    font-size: 18px;
    font-family: "Arial Rounded MT Bold";
    left: 45%;
    top: 10px;
    position: absolute;
}
.footer{
    background-color: #24327f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer div a i{
    color: black;
    align-items: center;
}

#check{
    display: none;
}
nav .icon-b{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-b .lines{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

/*footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #202931;
}

footer>div {
    text-align: center;
}
div h1 i{
    color: white;
}

footer h1 {
    all: initial;
    font-size: 30px;
    color: white;
    padding: 30px;
    display: inline-block;
}
footer>p {
    color: grey;
    font-size: smaller;
    padding-bottom: 30px;
}

/*responsive*/

@media all and (min-width: 320px) and (max-width:769px) {

    /*navigation bar*/
    .navbar{
        width: 100%;
        height: 50px;
    }
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav ul {
        float: none;
        position: fixed;
        z-index: 9;
        left: -100%;
        right: 0;
        top: 50px;
        bottom: 100%;
        width: 30%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .icon-b{
        display: block;
    }
    #check{
        display: none;
    }
    nav ul li a{
        color: white;
       font-size: 18px;
    }
    .icon-b :checked ~ ul{
        bottom: 0;
    }
    #check:checked ~ ul{
        left: 0;
    }
    ul li{
        color: black;
    }
    nav ul li a:hover{
        color: #f54750;
    }


    /*home*/

    .container{
        position: relative;
    }
    .container h3{
        font-size: 20px;
    }
    .container h1{
        position: relative;
        font-size: 35px
    }

    .frame{
        position: absolute;
        right: 20%;
        margin: auto;
        top: -30px;
        width: 90%;
        height: 40%;
    }
    .girl{
        position: absolute;
        right: -80%;
        margin: auto;
        top: -50px;
        width: 90%;
        height: auto;
    }
    .container p{
        position: relative;
        font-size: 14px;
        bottom: -38%;
        text-align: left;
    }

    /*About me*/

    .description h1{
        font-size: 20px;
        top: 15px;
        text-align: center;
    }
    .my{
       display: none;
    }
    .description p{
        left: 8px;
        top: 45px;
        font-size: 15px;
    }
    .description h2{
        left: 8px;
        top: 90px;
        font-size: 18px;
    }
    .grid{
        top: 120px;
        left: 8px;
    }
    .education h3{
        position: absolute;
        left: 10px;
        top: 38%;
    }
    .education ul{
        left: 12px;
        top: 42%;
    }
    .carrier h2{
        left: 10px;
        top: 56%;
    }
    .carrier ol{
        left: 10px;
        top: 60%;
    }
    .cus h2{
        left: 10px;
        top: 68%;
    }
    .cus ol{
        left: 10px;
        top: 74%;
    }

    /*Qualifications*/

    .topic h1{
        left: 30%;
        font-size: 20px;
        border: 2px solid red;
    }
    .line{
        display: none;
    }
    .skill h2{
        left: 6px;
        font-size: 17px;
    }
    .skills img{
        display: none;
    }
    .skills{
        display: grid;
        grid-template-columns: 150px 150px ;
        grid-template-rows: 10px  10px 10px;
    }
    .skills img h1{
        padding: 2px;
    }

    /*services*/
    .topic-2 h1{
        left: 15%;
        top: 5%;
        font-size: 25px;
    }
    .topic-2 h2{
        left: 8px;
        top: 14%;
    }
    .line_2, .logo_1{
        display: none;
    }
    .box_1, .box_2, .box_3{
        width: 350px;
    }
    .add h2{
        font-size: 14px;
        left: 38%;
    }

    /*projects*/
    .projects{
        position: relative;
        height: 150vh;
    }
    .add{
        display: flex;
        flex-direction: column;
        border-bottom: 20px;
    }
    .add h1{
        font-size: 20px;
        left: 15px;
        top: 15px;
    }
    .box_a, .box_b, .box_c, .box_d{
        width: 70%;
        height: 17%;
        border: 2px solid darkblue;
        left: 16%;
    }
    .box_a img, .box_b img, .box_c img, .box_d img{
        width: 16%;
        left: 15px;
        top: 40%;
    }
    .box_a h2, .box_b h2, .box_c h2, .box_d h2 {
        left: 15px;
        font-size: 16px;
        top: 14%;
    }
    .box_a h1, .box_b h1, .box_c h1, .box_d h1 {
        left: 30%;
        font-size: 13px;
        top: 40%;
    }
    .click img, .click_a img, .click_b img, .click_c img{
        width: 40%;
        height: auto;
    }
    .box_a{
        top: 15%;
    }
    .box_b{
        top: 35%;
    }
    .box_c{
        top: 55%;
    }
    .box_d{
        top: 75%;
    }

    /*Gallery*/
    .main_div{
        width: 50%;
        height: 55%;
    }

    /*contact*/
    .contact{
        position: relative;
    }
    .location{
        display: none;
    }
    .topic_a{
        top: 2px;
        text-align: center;
    }
    .contact_box{
        top: 34%;
        width: 70%;
        left: 50%;
    }
    .contact_box form{
       left: 2%;
    }
    .input_field{
        width: 85%;
    }
    .info h1{
        display: none;
    }
    .address, .phone,.mail{
        left: 5px;
        margin: 120px 15px;

    }
}

@media all and (min-width:769px) and (max-width:1024px) {

    /*navigation bar*/
    nav ul li{
        padding:15px 15px;
        display: inline-block;
        list-style-type: none;
        height: 100%;
    }
    nav ul li a{
        color: #333;
        font-size: medium;
    }

    /*home*/
    .container h1{
        font-size: 35px;
    }
    .container p{
        position: absolute;
        width: 30%;
        left: 8%;
        top: 40%;
    }
    .frame{
        width: 72%;
        height: 60%;
        bottom: 20%;
    }
    .girl{
        width: 75%;
        height: auto;
        bottom: 14%;
        left: 77%;
    }

    /*About section*/
    .my{
        width: 30%;
        height: 43%;
        top: 148px;
    }
    .description h1{
        position: relative;
        left: 40%;
        top: 10px;
    }
    .description p{
        left: 15px;
        top: 70px;
    }
    .description h2{
        left: 40%;
    }
    .grid{
        left: 40%;
    }
    .education h3{
        left: 40%;
    }
    .education ul{
        left: 40%;
    }
    .carrier h2{
        left: 40%;
    }
    .carrier ol{
        left: 40%;
    }
    .cus h2{
        left: 8%;
    }
    .cus ol{
        left: 8%;
    }

    /*Qualification*/
    .line{
        display: none;
    }
    .skill h2{
        left: 8px;
    }
    .skills img{
        width: 5%;
        bottom: 57%;
    }

    /*services*/
    .line_2, .logo_1{
        display: none;
    }

    /*project*/
    .add h2{
        font-size: small;
        top: 30%;
    }
    .click_a, .click, .click_b, .click_c{
        bottom: -10%;
    }

    /*Gallery*/
    .main_div{
        width: 40%;
        height: 60%;
    }

    /*contact*/
    .contact_box{
        position: relative;
        width: 48%;
        height: 30%;
        top: 2%;
        left: 50%;
    }
    .input_field{
        width: 90%;
        top: 20px;
        height: 14%;
    }
    .info h1{
        display: none;
    }
    .address, .phone,.mail{
        left: 28%;
        margin: 160px 12px;
    }
    .address span h5, p{
        font-size: 14px;
        left: 30%;
    }
    .phone span h5, p{
        font-size: 14px;
        left: 30%;
    }
    .mail span h5, p{
        font-size: 14px;
        left: 30%;
    }
}

@media all and (min-width:1024px) and (max-width:1440px) {
    .container p{
        width: 75%;
    }
    .frame{
        left: 61%;
    }
    .girl{
        left: 78%;
    }
    .line_2, .logo_1{display: none}

    .box_a, .box_b, .box_c, .box_d {
        width: 18%;
        height: 38%;
    }
    .box_a h2, .box_b h2, .box_c h2, .box_d h2 {
        top: 35%;
    }
    .box_a{
        left: 12%;
    }
    .box_b{
        left: 33%;
    }
    .box_c{
        left: 54%;
    }
    .box_d{
        left: 75%;
    }
    .main_div{
        width: 33%;
        height: 68%;
    }
    .book, .shopping, .hostel, .chat{
        width: 27%;
    }
    .line{
        display: none;
    }

}


@media all and (min-width:1440px) {
    .main_div{
        width: 28%;
        height: 70%;
    }
}
















